<nav>
  <ol class="flex flex-wrap items-center gap-1.5 text-sm">
    <li>
      <a
        class="inline-flex items-center gap-1.5 text-gray-500 dark:text-gray-400"
        href="index.html"
      >
        Panorama
      </a>
    </li>
    <template x-if="$store.navigation.getPageMeta(page).groupLabel">
      <li
        class="inline-flex items-center gap-1.5 text-gray-500 dark:text-gray-400"
      >
        <svg
          class="stroke-current"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.0765 12.667L10.2432 8.50033L6.0765 4.33366"
            stroke=""
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span x-text="$store.navigation.getPageMeta(page).groupLabel"></span>
      </li>
    </template>
    <li
      class="inline-flex items-center gap-1.5 text-gray-800 dark:text-white/90"
    >
      <svg
        class="stroke-current text-gray-500 dark:text-gray-400"
        width="17"
        height="16"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.0765 12.667L10.2432 8.50033L6.0765 4.33366"
          stroke=""
          stroke-width="1.2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span x-text="$store.navigation.getPageMeta(page).navLabel"></span>
    </li>
  </ol>
</nav>
